bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Rider
.idea/*
AzPlayground/.idea/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch